<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Delicious</title>
    <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/delicious-style.css}">
    <!-- =======================================================
      Theme Name: Delicious
      Theme URL: https://bootstrapmade.com/delicious-free-restaurant-bootstrap-theme/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>
<section>

    <form action="" method="POST" >
        <input type="hidden" th:value="${dish.id}" id="dishId" name="id"/>
        <div class="form-group">
            <label for="dishPrice">Price</label>
            <input type="text" th:value="${dish.price}" class="form-control" id="dishPrice" name="price">
        </div>
        <div class="form-group">
            <label for="dishCategory">Dish category</label>
            <select id="dishCategory" name="dishCategory.id" class="form-control">
                <option value="">...select a category</option>
                <option th:each="dishCategory : ${dishCategories}" th:value="${dishCategory.id}" th:selected="${dishCategory.id == dish.dishCategory.id}" th:text="${dishCategory.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <div class="list-group">
                <div th:each="dishDetails : ${dish.dishDetails}" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1" th:text="${dishDetails.key.getDisplayLanguage()}">English</h5>
                    </div>
                    <input id="dishName" type="text" class="mb-1 form-control" placeholder="Dish name" th:value="${dishDetails.value.name}" th:name="'dishDetails[' + ${dishDetails.key} + '].name'"/>
                    <textarea id="dishDescription" class="form-control"  rows="3" th:text="${dishDetails.value.description}" placeholder="Dish description" th:name="'dishDetails[' + ${dishDetails.key} +'].description'"></textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary mb-2">Save</button>
            <a th:href="/menu/${dish.currentMenuId}">Cancel</a>
        </div>
    </form>

</section>
<!-- footer -->
<footer class="footer text-center">
    <!--    <div class="footer-top">-->
    <!--        <div class="row">-->
    <!--            <div class="col-md-offset-3 col-md-6 text-center">-->
    <!--                <div class="widget">-->
    <!--                    <h4 th:text="${restaurant.name}" class="widget-title">Delicious</h4>-->
    <!--                    <address>-->
    <!--                            <span th:text="${menu.address}"></span>-->
    <!--                            <br>-->
    <!--                            Delhi, DL 110013-->
    <!--                    </address>-->
    <!--                    <div class="social-list">-->
    <!--                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>-->
    <!--                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>-->
    <!--                    </div>-->
    <!--                    <p class="copyright clear-float">-->
    <!--                        © Delicious Theme. All Rights Reserved-->
    <!--                    <div class="credits">-->
    <!--                        &lt;!&ndash;-->
    <!--                          All the links in the footer should remain intact.-->
    <!--                          You can delete the links only if you purchased the pro version.-->
    <!--                          Licensing information: https://bootstrapmade.com/license/-->
    <!--                          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Delicious-->
    <!--                        &ndash;&gt;-->
    <!--                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
    <!--                    </div>-->
    <!--                    </p>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</footer>
<!-- / footer -->

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.easing.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>


</body>

</html>
