<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Delicious</title>
    <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/delicious-style.css}">
    <!-- =======================================================
      Theme Name: Delicious
      Theme URL: https://bootstrapmade.com/delicious-free-restaurant-bootstrap-theme/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>
<section>

    <form action="/menu" th:method="put" >
        <input type="hidden" th:value="${menu.id}" id="menuId" name="id"/>
        <div class="form-group">
            <label for="menuName">Name</label>
            <input type="text" th:value="${menu.name}" class="form-control" id="menuName" name="name" placeholder="menu name">
        </div>
        <div class="form-group">
            <label for="validAlways">Valid always</label>
            <input type="checkbox" th:checked="${menu.validAlways}" class="form-control" id="validAlways" name="validAlways">
        </div>
        <div class="form-group">
            <label for="validOnDayOfWeek">Valid on day of week</label>
            <select id="validOnDayOfWeek" name="validOnDayOfWeek" class="form-control">
                <option value="">...select a day of week</option>
                <option th:text="Monday" th:value="1" th:selected = "${menu.validOnDayOfWeek?.getValue() == 1}" ></option>
                <option th:text="Tuesday" th:value="2" th:selected = "${menu.validOnDayOfWeek?.getValue() == 2}" ></option>
                <option th:text="Wednesday" th:value="3" th:selected = "${menu.validOnDayOfWeek?.getValue() == 3}" ></option>
                <option th:text="Thursday" th:value="4" th:selected = "${menu.validOnDayOfWeek?.getValue() == 4}" ></option>
                <option th:text="Friday" th:value="5" th:selected = "${menu.validOnDayOfWeek?.getValue() == 5}" ></option>
                <option th:text="Saturday" th:value="6" th:selected = "${menu.validOnDayOfWeek?.getValue() == 6}" ></option>
                <option th:text="Sunday" th:value="7" th:selected = "${menu.validOnDayOfWeek?.getValue() == 7}" ></option>
            </select>
        </div>
        <div class="form-group">
            <label for="validOnDate">Valid on date</label>
            <input type="date" th:value="${menu.validOnDate}" class="form-control" id="validOnDate" name="validOnDate" placeholder="10.10.2020">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary mb-2">Save</button>
        </div>
    </form>

    <form role="dishesForm">
        <label>Dishes</label>
        <div class="form-group">
            <input id="searchinput" class="form-control" type="search" placeholder="Search dish name" />
        </div>
        <div id="searchlist" class="list-group">
            <div class="list-group-item" th:each="dish : ${menu.dishes}">
                <a th:href="'/dish/' + ${dish.id}"><span th:text="${dish.dishDetails[user.locale].name}"> Dish name</span></a>
                <div th:text="${dish.price}"> Dish price </div>
            </div>
        </div>
    </form>
    <script>
	    $('#searchlist').btsListFilter('#searchinput', {itemChild: 'span'});
    </script>
</section>
<!-- footer -->
<footer class="footer text-center">
    <!--    <div class="footer-top">-->
    <!--        <div class="row">-->
    <!--            <div class="col-md-offset-3 col-md-6 text-center">-->
    <!--                <div class="widget">-->
    <!--                    <h4 th:text="${restaurant.name}" class="widget-title">Delicious</h4>-->
    <!--                    <address>-->
    <!--                            <span th:text="${menu.address}"></span>-->
    <!--                            <br>-->
    <!--                            Delhi, DL 110013-->
    <!--                    </address>-->
    <!--                    <div class="social-list">-->
    <!--                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>-->
    <!--                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>-->
    <!--                    </div>-->
    <!--                    <p class="copyright clear-float">-->
    <!--                        © Delicious Theme. All Rights Reserved-->
    <!--                    <div class="credits">-->
    <!--                        &lt;!&ndash;-->
    <!--                          All the links in the footer should remain intact.-->
    <!--                          You can delete the links only if you purchased the pro version.-->
    <!--                          Licensing information: https://bootstrapmade.com/license/-->
    <!--                          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Delicious-->
    <!--                        &ndash;&gt;-->
    <!--                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
    <!--                    </div>-->
    <!--                    </p>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</footer>
<!-- / footer -->

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.easing.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/contactform/contactform.js}"></script>

</body>

</html>
