<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Delicious</title>
    <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/delicious-style.css}">
    <!-- =======================================================
      Theme Name: Delicious
      Theme URL: https://bootstrapmade.com/delicious-free-restaurant-bootstrap-theme/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>
<section>

    <form action="save" method="POST" >
        <input type="hidden" th:value="${restaurant.id}" id="restaurantId" name="id"/>
        <div class="form-group">
            <label for="restaurantName">Name</label>
            <input type="text" th:value="${restaurant.name}" class="form-control" id="restaurantName" name="name" placeholder="Restaurant name">
        </div>
        <div class="form-group">
            <label for="restaurantAddress">Address</label>
            <input type="text" th:value="${restaurant.address}" class="form-control" id="restaurantAddress" name="address" placeholder="Street number">
        </div>
        <div class="form-group">
            <label for="town">Town</label>
            <select id="town" name="town" class="form-control">
                <option th:each="town : ${towns}" th:text="${town.name}" th:value="${town.id}" th:selected = "${town.id == restaurant.town.id}" ></option>
            </select>
        </div>
        <div class="form-group">
            <label for="openingHours">Opening hours</label>
            <textarea type="text" th:text="${restaurant.openingHours}" rows="3" class="form-control" id="openingHours" name="openingHours">Opening hours</textarea>
        </div>
        <!--TODO: map with marker for location-->
        <div class="form-group">
            <button type="submit" class="btn btn-primary mb-2">Save</button>
        </div>
    </form>
    <a th:href="@{/newMenu/} + ${restaurant.id}">Add new menu</a>
    <h3>Menus</h3>
    <div class="list-group">
        <a  th:each="menu : ${restaurant.menus}" class="list-group-item list-group-item-action" th:classappend="${UIUtil.getBootstrapClassForRestaurantStatus(menu.status)}" th:href="@{/menu/} + ${menu.id}" th:text="${menu.name}" > Test restaurant</a>
    </div>
    <!--<button type="submit" class="btn btn-primary mb-2">Add menu</button>-->

</section>
<!-- footer -->
<footer class="footer text-center">
    <!--    <div class="footer-top">-->
    <!--        <div class="row">-->
    <!--            <div class="col-md-offset-3 col-md-6 text-center">-->
    <!--                <div class="widget">-->
    <!--                    <h4 th:text="${restaurant.name}" class="widget-title">Delicious</h4>-->
    <!--                    <address>-->
    <!--                            <span th:text="${restaurant.address}"></span>-->
    <!--                            <br>-->
    <!--                            Delhi, DL 110013-->
    <!--                    </address>-->
    <!--                    <div class="social-list">-->
    <!--                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>-->
    <!--                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>-->
    <!--                    </div>-->
    <!--                    <p class="copyright clear-float">-->
    <!--                        © Delicious Theme. All Rights Reserved-->
    <!--                    <div class="credits">-->
    <!--                        &lt;!&ndash;-->
    <!--                          All the links in the footer should remain intact.-->
    <!--                          You can delete the links only if you purchased the pro version.-->
    <!--                          Licensing information: https://bootstrapmade.com/license/-->
    <!--                          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Delicious-->
    <!--                        &ndash;&gt;-->
    <!--                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
    <!--                    </div>-->
    <!--                    </p>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</footer>
<!-- / footer -->

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.easing.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/contactform/contactform.js}"></script>

</body>

</html>
