<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Delicious</title>
    <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/delicious-style.css}">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script th:src="@{/js/bootstrap-list-filter.min.js}"></script>
    <!-- =======================================================
      Theme Name: Delicious
      Theme URL: https://bootstrapmade.com/delicious-free-restaurant-bootstrap-theme/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>
<section>
    <h3>Restaurants</h3>
    <div class="list-group">
        <a  th:each="restaurant : ${restaurants}" class="list-group-item list-group-item-action" th:classappend = "${UIUtil.getBootstrapClassForRestaurantStatus(restaurant.status)}" th:href="@{/restaurant/} + ${restaurant.id}" th:text="${restaurant.name}" > Test restaurant</a>
    </div>

</section>
<!-- footer -->
<footer class="footer text-center">
<!--    <div class="footer-top">-->
<!--        <div class="row">-->
<!--            <div class="col-md-offset-3 col-md-6 text-center">-->
<!--                <div class="widget">-->
<!--                    <h4 th:text="${restaurant.name}" class="widget-title">Delicious</h4>-->
<!--                    <address>-->
<!--                            <span th:text="${restaurant.address}"></span>-->
<!--                            <br>-->
<!--                            Delhi, DL 110013-->
<!--                    </address>-->
<!--                    <div class="social-list">-->
<!--                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>-->
<!--                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>-->
<!--                    </div>-->
<!--                    <p class="copyright clear-float">-->
<!--                        © Delicious Theme. All Rights Reserved-->
<!--                    <div class="credits">-->
<!--                        &lt;!&ndash;-->
<!--                          All the links in the footer should remain intact.-->
<!--                          You can delete the links only if you purchased the pro version.-->
<!--                          Licensing information: https://bootstrapmade.com/license/-->
<!--                          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Delicious-->
<!--                        &ndash;&gt;-->
<!--                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
<!--                    </div>-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</footer>
<!-- / footer -->

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.easing.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script th:src="@{/contactform/contactform.js}"></script>

</body>

</html>
